*.aux
*.auxlock
*.bak
*.bbl
*.bcf
*.blg
*.bst
*.cls
*.def
*.dvi
*.fd
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.hd
*.id
*.idx
*.ilg
*.ind
*.ins
*.log
*.md5
*.out
*.pdf
*.sav
*.sty
*.swp
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.tmp
*.toc
*.ver
*.xdv
*.zip
*~
build/
support/*.id
support/*.txt
